@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlab Regular";
    src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlab Bold";
    src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	line-height: 1.2;
	overflow-x: hidden;
	font-family: "Roboto Bold", sans-serif;
	font-size: 24px;

	strong {
		font-family: "Roboto Bold";
	}
}

header {
	min-height: 100px;
	position: relative;
	padding: 20px 15px;
  &::after {
      @media screen and (min-width: 992px){
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 500%;
        background: #000;
        transform: translateX(-50%);
    }
  }


	@include respond-to(tablet) {
		min-height: 130px;
		padding: 0px 15px;
		margin-top: 20px;
	}

	.fixed {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;
		background-color: #fff;

		&.scroll {
			position: fixed;
			top: 0;
			margin: 0 auto;
			left: 50%;
			-webkit-transform: translateX(-50%);
			        transform: translateX(-50%);
			z-index: 200;
			max-width: 1310px;
			width: 100%;
			padding: 0px 100%;
			box-sizing: content-box;
			border-bottom: 2px solid #000;
			max-height: 46px;
			height: 100%;
			transition: .3s ease-in-out;

			.logo {
				height: 33px;
			}

			.btn {
				padding: 6px 20px;

				@include respond-to(tablet) {
					display: none;
				}
			}

			nav {
				background: none;
				width: auto;
				margin: 0;
				position: relative;

				@include respond-to(tablet) {
					order: -1;
				}

				@include respond-to(tablet) {
					> ul {
						position: absolute;
						box-sizing: border-box;
						width: 100vw;
						margin: 0px -15px;
						top: 48px;
					}

					.hamburger-btn span,
					.hamburger-btn span:before,
					.hamburger-btn span:after  {
						background-color: #000;
					}
				}
			}
		}


		@include respond-to(tablet) {
			flex-wrap: wrap;
		}

		.logo {
			max-width: 70px;
			height: 60px;
			width: 100%;
			order: 1;

			svg {
				width: 100%;
				height: 100%;
				fill: #000;
			}
		}

		nav {
			order: 2;

			@include respond-to(tablet) {
				background: #353535;
				padding: 10px 15px;
				margin: 10px -15px;
				width: 100vw;
			}


			.hamburger-btn {
				width: 30px;
				height: 30px;
				display: none;
				align-items: center;
				cursor: pointer;

				@include respond-to(tablet) {
					display: flex;
				}

				&.active {
					span {
						background-color: transparent;
						-webkit-transform: rotateY(180deg);
						        transform: rotateY(180deg);

						&:before {
							-webkit-transform: translate3d(0,10px,0) rotate(45deg);
							        transform: translate3d(0,10px,0) rotate(45deg);
						}
						&:after{
							-webkit-transform: translate3d(0,-10px,0) rotate(-45deg);
							        transform: translate3d(0,-10px,0) rotate(-45deg);
						}
					}
				}

				span {
					transition: -webkit-transform .15s;
					transition: transform .15s;
					transition: transform .15s, -webkit-transform .15s;
					height: 3px;
					width: 100%;
					background-color: #FFF;
					position: relative;

					&:before,
					&:after {

						position: absolute;
						content: '';
						width: 100%;
						height: 3px;
						background-color: #FFF;
					}
					&:before {
						top: -10px;
					}
					&:after {
						bottom: -10px;
					}
				}
			}

			> ul {

				@include respond-to(desktop) {
					display: flex!important;
				}

				@include respond-to(tablet) {
					display: none;
					margin-top: 15px;
				}

				> li {
					display: inline-block;
					padding: 0px 20px;
					border-right: 1px solid #44C373;
					position: relative;

					ul {
						display: flex;
						position: absolute;
						flex-direction: column;
						background-color: #fff;
						z-index: -1;
						max-width: 240px;
						width: 150%;
						text-align: center;
						left: 50%;
						-webkit-transform: translateX(-50%);
						        transform: translateX(-50%);
						padding-top: 10px;
						transition: 0.1s;
						opacity: 0;
						visibility: hidden;

						a {
							display: block;
						}

						@include respond-to(tablet) {
							visibility: visible;
						}


						@include respond-to(tablet) {
							opacity: 1;
							position: static;
							background: none;
							width: 100%;
							-webkit-transform: none;
							        transform: none;
							text-align: left;
							padding-top: 0;
							margin-top: 10px;
							border: none;
						}

						li {
							padding: 10px 20px;
							border-bottom: 3px solid #FFF;

							@include respond-to(tablet) {
								border-bottom: none;
							}

							&:hover {
								border-bottom: 3px solid #44C373;
							}

							@include respond-to(tablet) {
								padding: 10px 0 10px 40px;
								position: relative;

								&:before {
									position: absolute;
									content: '';
									width: 30px;
									height: 2px;
									background-color: #fff;
									left: 0;
									top: 50%;
									-webkit-transform: translateY(-50%);
									        transform: translateY(-50%);
								}
							}
						}
					}

					&:hover ul {
						opacity: 1;
						z-index: 20;
						opacity: 1;
						visibility: visible;
					}

					&:last-child {
						border: none;
					}

					@include respond-to(tablet) {
						display: block;
						padding: 10px;
						border: none;
						color: #fff;
						background-color: #353535;
						z-index: 40;
					}
				}
			}
		}

		.btn {
			order: 3;
			background-color: #55c477;
			border-radius: 6px;
			padding: 10px 20px;
			max-width: 180px;
			width: 100%;
			transition: .2s;
			color: #fff;
			display: inline-block;
			text-align: center;

			@include respond-to(tablet) {
				order: 1;
			}

			&:hover {
				background-color: #4CAE69;
			}
		}
	}
}

main {

	article, .article {
		overflow: hidden;

		@include respond-to(tablet) {
			margin: 0 -15px;
		}
	}

	.capture {
		text-align: center;
		margin-bottom: 30px;
		overflow: hidden;

		h2 {
			display: inline-block;
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				        transform: translateY(-50%);
				background-color: #44C373;
				width: 75px;
				height: 1px;
			}
			&:before {
				left: -95px;
			}
			&:after {
				right: -95px;
			}
		}
	}

	.big-article {
		position: relative;
		margin-bottom: 50px;

		.social-btn-container {
			position: absolute;
			z-index: 30;
			right: 40px;
			top: 35px;

			@include respond-to(tablet) {
				top: -50px;
				right: 15px;
				display: flex;
			}

			a {
        transition: all 0.3s ease;
				width: 44px;
				height: 44px;
				background-color: #fff;
				border-radius: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 12px;
        &:hover, &:focus{
          svg{
            use{
              fill: #fff;
            }
          }
        }
        &[href^="https://vk.com"]{
          &:hover, &:focus{
            background-color: #48729e;
          }
        }
        &[href^="https://www.facebook.com"]{
          &:hover, &:focus{
            background-color: #3b5998;
          }
        }
        &[href^="https://www.instagram.com"]{
          &:hover, &:focus{
            background-color: #ED4A55;
          }
        }

				@include respond-to(tablet) {
					width: 30px;
					height: 30px;
					margin-bottom: 0;
					margin-right: 15px;
				}

				&:last-child {
					margin-bottom: 0;

					@include respond-to(tablet) {
						margin-right: 0;
					}
				}
			}

			svg {
				width: 100%;
				max-width: 24px;
				height: 100%;
				max-height: 24px;
        transition: all 0.3s ease;
				@include respond-to(tablet) {
					max-width: 18px;
					max-height: 18px;
				}
			}

		}

		h1 {
			position: absolute;
			bottom: 15%;
			left: 5%;
			z-index: 10;
			color: #fff;
			font-size: 30px;
			max-width: 200px;
			text-transform: uppercase;

			@include respond-to(tablet) {
				position: static;
				color: #000;
				text-align: center;
				max-width: 100%;
				margin-bottom: 20px;
			}
		}

		article, .article {
			padding-top: 25%;
			position: relative;
			display: flex;
			justify-content: center;

			&:after {
				background: linear-gradient(360deg, #282A2B 0%, rgba(40, 42, 43, 0) 100%);
				content: '';
				width: 100%;
				height: 30%;
				bottom: 0;
				left: 0;
				position: absolute;
				z-index: -1;
			}

		.article-box {
			// margin: auto;
			align-self: flex-end;
			margin-left: 120px;
			margin-bottom: 25px;
			max-width: 560px;

			@include respond-to(tablet) {
				padding: 30px 50px;
				text-align: center;
				margin-left: 0;
			}
		}

			.article-preview {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: -1;
			}

			.article-tag {
				font-family: 'RobotoSlab Bold', sans-serif;
				font-size: 12px;
				background: rgba(40, 42, 43, 0.7);
				border: 1px solid rgba(196, 196, 196, 0.6);
				border-radius: 80px;
				padding: 5px 20px;
				margin-bottom: 15px;
				color: #fff;
				display: inline-block;
				margin-bottom: 20px;
			}
			.article-title {
				margin-bottom: 25px;
				width: 100%;
				color: #fff;
			}

			.article-btn {
				font-size: 16px;
				background-color: #55C477;
				border-radius: 6px;
				padding: 10px 20px;
				max-width: 200px;
				width: 100%;
				transition: .2s;
				margin-top: auto;
				color: #fff;
				display: inline-block;
				text-align: center;

				&:hover {
					background-color: #4CAE69;
				}
			}
		}
	}

	.last-article {

		article, .article {
			color: #fff;
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			height: 100%;
			padding: 45px 50px 30px;
			position: relative;

			&:hover .article-preview {
				left: 0;
			}

			.article-tag {
				font-family: 'RobotoSlab Bold', sans-serif;
				font-size: 12px;
				background: rgba(40, 42, 43, 0.7);
				border: 1px solid rgba(196, 196, 196, 0.6);
				border-radius: 80px;
				padding: 5px 20px;
				margin-bottom: 15px;
			}

			.article-preview {
				position: absolute;
				z-index: -1;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				width: calc(100% + 10px);
				height: 100%;
				top: 0;
				left: -10px;
				content: '';
				transition: .5s;

				&::before {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					content: '';
					background: rgba(40, 42, 43, 0.5);
				}
			}

			.article-title {
				margin-bottom: 20px;
				width: 100%;
			}

			.article-date {
				font-size: 12px;
				color: #9E9E9E;
				font-family: "Roboto Bold", sans-serif;
				margin-bottom: 45px;
			}

			.article-btn {
				font-size: 16px;
				background-color: #55C477;
				border-radius: 6px;
				padding: 10px 20px;
				max-width: 200px;
				width: 100%;
				transition: .2s;
				margin-top: auto;

				&:hover {
					background-color: #4CAE69;
				}
			}
		}
	}

	.all-article {
		position: relative;
		padding-top: 25px;
		padding-bottom: 54px;

		article, .article {
			color: #000;
			display: flex;
			flex-direction: column;
			text-align: center;
			height: 100%;
			position: relative;
			border: 1px solid #E5E5E5;

			@include respond-to(tablet) {
				border: none;
				border-bottom: 1px solid #E5E5E5;
			}

			&:hover .article-preview {
				background-position-x: 40%;
			}

			.article-link {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
			}

			.article-tag {
				font-family: 'RobotoSlab Bold', sans-serif;
				font-size: 12px;
				background: rgba(40, 42, 43, 0.7);
				border: 1px solid rgba(196, 196, 196, 0.6);
				border-radius: 80px;
				padding: 5px 20px;
				margin-bottom: 15px;
				color: #fff;
				position: absolute;
				top: 15px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				        transform: translateX(-50%);
				z-index: 2;
			}

			.article-preview {
				height: 190px;
				background-repeat: no-repeat;
				background-size: 110%;
				background-position: center;
				margin-bottom: 15px;
				margin-left: -1px;
				margin-right: -1px;
				margin-left: -1px;
				transition: .5s;
			}
			.article-date {
				font-size: 12px;
				color: #9E9E9E;
				font-family: "Roboto Bold", sans-serif;
				margin-bottom: 20px;
				text-align: right;
				padding-right: 25px;
				z-index: 2;
			}
			.article-title {
				margin: 0 25px 15px;
				font-size: 22px;
				z-index: 2;
			}
		}

		.article-more-btn {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #E5E5E5;
			font-size: 16px;
			text-align: center;
			padding: 17.5px 0px;
			color: #525252;
			transition: .2s;
			font-family: "Roboto Regilar", sans-serif;

			&:hover {
				background-color: #4c4c4c;
				color: #fff;
			}
		}
	}

	.pagination {
		font-family: "Roboto Regular", sans-serif;
		font-size: 12px;
		display: flex;
		justify-content: center;
		margin-top: 20px;

		@include respond-to(tablet) {
			padding: 0px 15px;
		}

		.pagination-container {
			display: flex;
			max-width: 500px;
			margin: 0 -6px;
			position: relative;

			@include respond-to(tablet) {
				flex-wrap: wrap;
				justify-content: flex-start;
				padding: 0px 40px;
			}

			.pagination-page {
				width: 40px;
				height: 38px;
				border: 1px solid #E5E5E5;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 5px 6px;

				&:hover {
					background-color: #828282;
					color: #fff;
				}

				&.active {
					background-color: #535353;
					color: #fff;
				}

			}

			@include respond-to(tablet) {
				.pagination-prev {
					position: absolute;
					left: 0;
					height: 100%;
					margin: 0;
				}

				.pagination-next {
					position: absolute;
					right: 0;
					height: 100%;
					margin: 0;
				}
			}
		}
	}

	.article-container {
		margin-bottom: 30px;
	}

	.more-materials {
		text-align: center;
		margin-top: 60px;

		@include respond-to(tablet) {
			margin-right: 0px;
			margin-left: 0px;
		}

		&-container {
			border: 1px solid #000;

			h2 {
				margin: -15px auto 0;
				display: block;
				max-width: 530px;
				background-color: #fff;
			}
		}

		&-socials {
			max-height: 22px;
			height: 100%;
			margin-top: 40px;
			margin-bottom: 40px;

			a {
				width: 100%;
				height: 100%;
				margin-right: 10%;
				padding: 10px;
        transition: all 0.3s ease;

				&:hover svg {
					fill: #55c477;
				}

        &[href^="https://vk.com"]{
          &:hover, &:focus{
            svg{
              fill: #48729e;
            }
          }
        }
        &[href^="https://www.facebook.com"]{
          &:hover, &:focus{
            svg{
              fill: #3b5998;
            }
          }
        }
        &[href^="https://www.instagram.com"]{
          &:hover, &:focus{
            svg{
              fill: #ED4A55;
            }
          }
        }

				&:last-child {
					margin-right: 0;
				}

				svg {
					transition: .2s;
					width: 100%;
					max-width: 22px;
					height: 100%;
					fill: #000;
				}
			}
		}
	}
}


footer {
	margin-bottom: 0;
	color: #fff;
	margin-top: 50px;

	.footer-top {
		background-color: #353535;
		padding-top: 40px;
		padding-bottom: 50px;
		font-size: 16px;
		font-family: "Roboto Regular", sans-serif;
		border-bottom: 1px solid #9E9E9E;

		.footer-top__logo {

			a {
				margin-bottom: 50px;
				display: block;

				@include respond-to(tablet) {
					text-align: center;
				}
			}

			svg {
				fill: #5D5D5D;
				width: 100%;
				height: 100%;
				max-width: 70px;
				max-height: 60px;
			}
		}

		.footer-title {
			margin-bottom: 40px;
		}

		.footer-top__articles {
			@include respond-to(tablet) {
				margin-bottom: 50px;
			}

			.footer-top__article-item {
				display: flex;
				align-items: flex-start;
				margin-bottom: 20px;

				.footer-top__article-img {
					min-width: 110px;
					height: 70px;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					margin-right: 25px;
				}

				.footer-top__article-date {
					color: #9E9E9E;
					font-size: 12px;
					margin-bottom: 5px;
				}
			}
		}
	}

	.footer-top__contacts {

		> * {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}

		}

		svg {
			position: absolute;
			left: 0;
			fill: #9E9E9E;
		}

		.footer-top__contacts--phone {
			padding-left: 45px;
			position: relative;

			svg {
				width: 18px;
				height: 18px;
			}
			a {
				color: #fff;
				font-family: "Roboto Bold", sans-serif;
			}
		}

		.footer-top__contacts--email {
			padding-left: 45px;
			position: relative;

			svg {
				width: 24px;
				height: 16px;
			}
		}

		.footer-top__contacts--site {
			padding-left: 45px;
			position: relative;

			svg {
				width: 18px;
				height: 18px;
			}
		}

		.footer-top__contacts--social {
			display: flex;
			max-height: 22px;
			height: 100%;

			a {
				margin-right: 30px;
        transition: all 0.3s ease;
				&:last-child {
					margin-right: 0;
				}
        svg{
          transition: all 0.3s ease;
          use{
            transition: all 0.3s ease;
            fill: #9e9e9e;
          }
        }
        &.icon-vk{
          &:hover, &:focus{
            svg{
              use{
                fill: #48729e;
              }
            }
          }
        }
        &.icon-fb{
          &:hover, &:focus{
            svg{
              use{
                fill: #3b5998;
              }
            }
          }
        }
        &.icon-inst{
          &:hover, &:focus{
            svg{
              use{
                fill: #ED4A55;
              }
            }
          }
        }
        &.icon-yt{
          &:hover, &:focus{
            svg{
              use{
                fill: #ff0000;
              }
            }
          }
        }
			}

			svg {
				height: 100%;
				width: 100%;
				max-width: 22px;
				position: static;
			}


		}


		a {
			color: #4BC376;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer-bottom {
		background-color:#282A2B;
		font-size: 12px;
		color: #9E9E9E;
		font-family: "Roboto Regular", sans-serif;


		p {
			width: 100%;
			text-align: right;
			padding: 25px 0;
		}
	}
}

.breadcrumb {
	margin-top: 20px;
	margin-bottom: 45px;
	font-size: 12px;

	li {
		display: inline-block;
		padding-right: 5px;
		margin-bottom: 5px;
		color: #2A97E7;

		a:hover {
			text-decoration: underline;
		}

		&.active {
			color: #9E9E9E;

			a {
				pointer-events: none;
			}
		}

		&:after {
			content: '/';
			padding-left: 5px;
			color: #9E9E9E;
		}

		&:last-child:after {
			content: none;
		}
	}
}

.article_page {
	font-size: 18px;
	font-family: "Roboto Regular", sans-serif;

	h1 {
		font-size: 40px;
		font-family: "Roboto Bold", sans-serif;
		margin-bottom: 45px;
	}

	h2 {
		margin-bottom: 30px;
		font-size: 24px;
		flex: 1 1 100%;
	}

	.leftside {

		.share-container {
			display: flex;
			align-items: center;
			color: #9E9E9E;
			font-size: 14px;
			padding-bottom: 15px;
			border-bottom: 1px solid #9E9E9E;
			margin-bottom: 30px;

			> * {
				display: flex;
				align-items: center;
				margin-right: 20px;
			}

			svg {
				max-width: 17px;
				max-height: 17px;
				height: 100%;
				width: 100%;
				fill: #9E9E9E;
				margin-right: 13px;
			}
		}

		.article-wrap {
			color: #333333;
			line-height: 1.5;
			padding-bottom: 15px;

			h2 {
				font-size: 24px;
				margin: 40px 0 30px;
				color: #000;
				font-family: "Roboto Bold", sans-serif;
			}

			p {
				margin-bottom: 30px;
			}

			ul {
				list-style: disc;
				padding-left: 20px;
				padding-bottom: 10px;

				li {
					padding-left: 10px;
					margin-bottom: 20px;
				}
			}

			.img-box {
				max-width: 750px;
				width: 100%;
				margin-bottom: 55px;

				img {
					width: 100%;
				}
			}
		}

		.about-article {
			color: #9E9E9E;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-top: 15px;
			padding-bottom: 15px;
			border-top: 1px solid #E5E5E5;
			border-bottom: 1px solid #E5E5E5;
			margin-bottom: 50px;

			.rating {
				display: flex;

				a {
					margin-right: 20px;
					-webkit-tap-highlight-color: rgba(0,0,0,0);
					-webkit-tap-highlight-color: transparent;
				}

				.like {

					&.choise {
						pointer-events: none;

						a svg{
							fill: #44C373;
						}
					}

					a:hover svg{
						fill: #44C373;
					}
				}

				.dislike {

					&.choise {
						pointer-events: none;
						a svg{
							fill: red;
						}
					}

					a:hover svg{
						fill: red;
					}
				}

				> * {
					display: flex;
					align-items: center;
					margin-right: 40px;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.tags {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-wrap: wrap;
				font-size: 12px;
				font-family: "RobotoSlab Regular", sans-serif;
				max-width: 400px;
				width: 100%;
				margin-left: 20%;
				margin-top: -8px;
				margin-bottom: -8px;

				@include respond-to(tablet) {
					max-width: 100%;
					margin-left: 0;
					margin-top: 30px;
				}

				> * {
					margin-right: 10px;
					padding: 6px 20px;
					border: 1px solid #DCDCDC;
					border-radius: 30px;
					margin-top: 8px;
					margin-bottom: 8px;
				}
			}

			svg {
				max-width: 36px;
				width: 100%;
				max-height: 36px;
				fill: #9E9E9E;
			}
		}
	}


	.rightside {
		margin-top: 12%;
		margin-bottom: 40px;

		h2 {
			text-align: center;
			font-family: "Roboto Bold", sans-serif;
		}

		.article-slider-container {
			border: 4px solid #000000;
			padding: 40px 0;
			max-width: 420px;
			margin: 0 auto 50px;

			.btn {
				max-width: 200px;
				width: 100%;
				display: block;
				background: #55C477;
				font-size: 16px;
				color: #FFF;
				font-family: "Roboto Bold", sans-serif;
				text-align: center;
				padding: 16px 20px;
				max-height: 50px;
				border-radius: 6px;
				margin: 0 auto;
				transition: .3s;

				&:hover {
					background-color: #4cae69;
				}
			}

			.article-slider {

				*:focus,
				*:active {
					outline: none;
				}

				.slick-dots {
					display: flex;
					max-width: 250px;
					margin: 20px auto;
					justify-content: center;

					li {
						margin: 3.5px 8px;
						transition: .1s;
						width: 3px;
						height: 3px;
						border-radius: 30px;
						background: #000;
						border: 1px solid #000;

						&.slick-active {
							width: 10px;
							height: 10px;
							margin-top: 0;
							margin-bottom: 0;
							background: none;

						}

						button {
							border: none;
							background: none;
							font-size: 0;

						}
					}
				}

				.slick-arrow {
					background: none;
					border: none;
					font-size: 0;
					position: absolute;
					top: 40%;
					z-index: 10;
					cursor: pointer;

					&.slick-prev,
					&.slick-next {
						width: 20px;
						height: 20px;
						border-bottom: 4px solid #000;
						border-left: 4px solid #000;
						border-radius: 3px;
					}

					&.slick-prev {
						left: 30px;
						-webkit-transform: translateY(-50%) rotate(45deg);
						        transform: translateY(-50%) rotate(45deg);
					}

					&.slick-next {
						right: 30px;
						-webkit-transform: translateY(-50%) rotate(-135deg);
						        transform: translateY(-50%) rotate(-135deg);
					}
				}

				&-item {
					height: 170px;

					&__img {
						max-width: 60%;
						margin: 0 auto;
						height: 100%;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
		}

		.top-articles-container {

			.top-articles {

				article {
					display: flex;
					border: 1px solid #E5E5E5;
					min-height: 140px;
					margin-bottom: 10px;

					.article-preview {
						max-width: 195px;
						width: 100%;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						margin: -1px -1px -1px 0;
					}

					.top-articles-info {
						padding: 15px 20px;

						.article-date {
							font-size: 12px;
							color: #9E9E9E;
							margin-bottom: 10px;
						}

						.article-title {
							font-size: 16px;
							font-family: "Roboto Bold", sans-serif;
							line-height: 1.5;
						}
					}
				}
			}
		}

	}

	.more-article {
		margin-top: 50px;
		display: flex;
		margin-right: -15px;
		margin-left: -15px;

		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
		}

		article {
			color: #000;
			display: flex;
			flex-direction: column;
			text-align: center;
			height: 100%;
			position: relative;
			border: 1px solid #E5E5E5;
			flex: 1 1 240px;
			margin: 0px 15px;

			@include respond-to(tablet) {
				max-width: 100%;
			}
			@media screen and (max-width: 767px) {
				flex: 1 1 100%;
				margin-bottom: 30px;
			}

			&:hover .article-preview {
				background-position-x: 40%;
			}

			.article-link {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
			}

			.article-tag {
				font-family: 'RobotoSlab Bold', sans-serif;
				font-size: 12px;
				background: rgba(40, 42, 43, 0.7);
				border: 1px solid rgba(196, 196, 196, 0.6);
				border-radius: 80px;
				padding: 5px 20px;
				margin-bottom: 15px;
				color: #fff;
				position: absolute;
				top: 15px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				        transform: translateX(-50%);
				z-index: 2;
			}

			.products {
				font-size: 12px;
				text-align: center;
				color: #9E9E9E;
				margin-bottom: 15px;
			}

			.article-preview {
				height: 190px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				margin-bottom: 15px;
				margin-left: -1px;
				margin-right: -1px;
				margin-left: -1px;
				transition: .5s;

				@include respond-to(tablet) {
					height: 170px;
				}
			}
			.article-date {
				font-size: 12px;
				color: #9E9E9E;
				margin-bottom: 20px;
				text-align: right;
				padding-right: 25px;
				margin-left: auto;
				max-width: 100px;
				z-index: 2;
			}
			.article-title {
				padding: 0 25px 0px;
				margin-bottom: 20px;
				font-size: 18px;
				font-family: 'Roboto Bold', sans-serif;
				z-index: 2;
			}
		}
	}


	.choise-btn {
		display: flex;
		font-size: 18px;
		font-family: "Roboto Bold", sans-serif;
		margin: 50px auto 0;

		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
		}

		> * {
			flex: 1 1 50%;
			display: flex;
			align-items: center;
			padding: 40px;
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;

			@media screen and (max-width: 767px) {
				flex: 1 1 100%;
			}

			p {
				max-width: 615px;
				position: relative;

				&:before {
					position: absolute;
					top: 50%;
					content: '';
					width: 12px;
					height: 12px;
					border-bottom: 2px solid #000;
					border-left: 2px solid #000;
				}
			}

			&:first-child {
				justify-content: flex-end;

				p {
					padding-left: 40px;

					&:before {
						left: 0;
						-webkit-transform: translateY(-50%) rotate(45deg);
						        transform: translateY(-50%) rotate(45deg);
					}
				}


			}

			&:last-child {
				justify-content: flex-start;

				p {
					padding-right: 40px;

					&:before {
						right: 0;
						-webkit-transform: translateY(-50%) rotate(-135deg);
						        transform: translateY(-50%) rotate(-135deg);
					}
				}
			}

			&:hover {
				background-color: #55C477;
			}
		}
	}

}



hr {
	width: 100%;
	margin: 0;
    border: none;
    height: 1px;
    background-color: #E5E5E5;
}



.modal-window {

	.overlay {
		display: none;
		z-index: 50;
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.close-btn {
		position: absolute;
		width: 12px;
		height: 12px;
		margin: 15px;
		top: 0;
		right: 0;
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			top: 50%;
			left: 50%;
			height: 2px;
			background-color: #000;
		}

		&:before {
			-webkit-transform: translate(-50%,-50%) rotate(45deg);
			        transform: translate(-50%,-50%) rotate(45deg);
		}

		&:after {
			-webkit-transform: translate(-50%,-50%) rotate(-45deg);
			        transform: translate(-50%,-50%) rotate(-45deg);
		}
	}

	.subscribe-email {
		display: none;
		z-index: 100;
		position: fixed;
		max-width: 400px;
		flex-direction: column;
		background-color: #fff;
		border: 4px solid #55C477;
		padding: 40px;
		text-align: center;
		margin: 40px 50px;
		bottom: 0;
		right: 0;

		@media screen and (max-width: 767px) {
			margin: 0;
			padding: 10px;
			flex-direction: row;
			align-items: center;
			max-width: 100%;
			width: 100%;
		}

		.close-btn {
			@media screen and (max-width: 767px) {
				margin: 0;
				padding: 10px;
				top: -60%;
				box-sizing: content-box;
			}
		}

		&__title {
			font-size: 20px;
			margin-bottom: 20px;

			@media screen and (max-width: 767px) {
				font-size: 10px;
				text-align: left;
				margin-bottom: 0;
				margin-right: 10px;
				max-width: 45%;
			}
		}

		&__desc {
			color: #9E9E9E;
			font-size: 14px;
			font-family: "Roboto Regular", sans-serif;
			margin-bottom: 35px;

			@media screen and (max-width: 767px) {
				display: none;
			}
		}

		&__form {
			position: relative;

			@media screen and (max-width: 767px) {
				max-width: 60%;
				width: 100%;
				text-align: right;
			}

			input[type=email] {
				max-width: 310px;
				width: 100%;
				padding: 16px 20px;

				@media screen and (max-width: 767px) {
					font-size: 8px;
					padding-left: 10px;
					max-width: 100%;
				}
			}

			input[type=submit] {
				content: '';
				position: absolute;
				width: 26px;
				height: 18px;
				background-image: url(../img/email-icon.svg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				right: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				        transform: translateY(-50%);
				border: none;
				font-size: 0;
				background-color: transparent;
				cursor: pointer;

				&:focus {
					outline: none;
				}
			}

		}


	}

	.like-popup {
		display: none;
		position: fixed;
		padding: 30px;
		max-width: 420px;
		width: 90%;
		min-height: 220px;
		font-size: 24px;
		background-color: #fff;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		z-index: 100;
		text-align: center;

		&__title {
			max-width: 300px;
			margin: 0 auto 60px;
		}

		&__social {
			display: flex;
			justify-content: space-between;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 43px;
				height: 43px;
				border: 1px solid #C4C4C4;
				border-radius: 30px;

			}

			svg	{
				width: 17px;
				height: 17px;
			}
		}
	}

	.dislike-popup {
		position: fixed;
		padding: 30px;
		max-width: 950px;
		width: 90%;
		font-size: 24px;
		background-color: #fff;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		z-index: 100;
		min-height: 480px;
		display: none;

		@include respond-to(tablet) {
			height: 80vh;
			min-height: auto;
			top: 55%;
		}

		&__title {
			text-align: center;
			margin-bottom: 40px;

			@include respond-to(tablet) {
				font-size: 18px;
				margin-bottom: 30px;
			}
		}

		&__articles {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;

			@media (orientation: landscape) {
				flex-wrap: nowrap;
			}

			article {
				color: #000;
				display: flex;
				flex-direction: column;
				text-align: center;
				height: 100%;
				position: relative;
				border: 1px solid #E5E5E5;
				margin: 0 15px 15px;
				flex: 1 1 300px;

				@include respond-to(tablet) {
					border: none;
					border-bottom: 1px solid #E5E5E5;
				}

				&:hover .article-preview {
					background-position-x: 40%;
				}

				.article-tag {
					font-family: 'RobotoSlab Bold', sans-serif;
					font-size: 12px;
					background: rgba(40, 42, 43, 0.7);
					border: 1px solid rgba(196, 196, 196, 0.6);
					border-radius: 80px;
					padding: 5px 20px;
					margin-bottom: 15px;
					color: #fff;
					position: absolute;
					top: 15px;
					left: 50%;
					-webkit-transform: translateX(-50%);
					        transform: translateX(-50%);

					@include respond-to(tablet) {
						display: none;
					}
				}

				.article-preview {
					height: 190px;
					background-repeat: no-repeat;
					background-size: 110%;
					background-position: center;
					margin-bottom: 15px;
					margin-left: -1px;
					margin-right: -1px;
					margin-left: -1px;
					transition: .5s;

					@include respond-to(tablet) {
						height: 150px;
						margin-bottom: 0;
					}
				}
				.article-date {
					font-size: 12px;
					color: #9E9E9E;
					font-family: "Roboto Bold", sans-serif;
					margin-bottom: 20px;
					text-align: right;
					padding-right: 25px;

					@include respond-to(tablet) {
						display: none;
					}
				}
				.article-title {
					padding: 0 25px 15px;
					font-size: 22px;

					@include respond-to(tablet) {
						position: absolute;
						font-size: 16px;
						color: #fff;
						bottom: 0;
						padding-bottom: 10px;
						padding-top: 10px;
						background-color: #00000080;
					}
				}
			}
		}
	}
}

.page-title {
	margin-top: 10px;
	margin-bottom: 50px;

	h1 {
		font-size: 40px;
		border-bottom: 3px solid #44c373;
		display: inline-block;
	}

	.breadcrumb {
		font-family: "Roboto Regular", sans-serif;
	}
}

.sprite_svg {
	display: none;
}
