// VARIABLES
// FONT
$bold: 'MontserratBold',
sans-serif;
$medium: 'MontserratMedium',
sans-serif;
$regular: 'MontserratRegular',
sans-serif;
$capture: 'RubikMedium',
sans-serif;
$capture-small: 'RubikRegular',
sans-serif;
// COLORS
$black: #000;
$white: #fff;
$yellow: #FFE321;
$lightblue: #3BDCFF;
$gray: #CFCFCF;
// FONT SIZE
$h1: 36px;
$h2: 36px;
$bigtext: 20px;
$default: 18px;
$smalltext: 12px;
// MEDIA QUERIES
$XS: 320px;
$M: 992px;
$XL: 1200px;
@mixin respond-to($media) {
    @if $media==mobile {
        @media only screen and (min-width: $XS) and (max-width: $S - 1) {
            @content;
        }
    }
    @else if $media==tablet {
        @media only screen and (min-width: $XS) and (max-width: $M - 1) {
            @content;
        }
    }
    @else if $media==desktop {
        @media only screen and (min-width: $XL) {
            @content;
        }
    }
}

// @include respond-to(mobile)
// GRID
$content: 1170px;