<footer>
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="footer-top__logo col-12 col-lg-2">
					<a href="./">
						<svg>
							<use xlink:href="#logo"/>
						</svg>
					</a> 
				</div>
				<div class="footer-top__articles col-12 col-lg-5">
					<div class="footer-title">ПОПУЛЯРНЫЕ СТАТЬИ</div>
					
					<div class="footer-top__article-item">
						<div class="footer-top__article-img" style="background-image: url(img/article-11.png)"></div>
						<div class="footer-top__article-info">
							<div class="footer-top__article-date">23.05.2018</div>
							<div class="footer-top__article-title">
								<a href="./article_page.html">Доставка еды на неделю — рейтинг полезных для фигуры продуктов</a>
							</div>
						</div>
					</div>

					<div class="footer-top__article-item">
						<div class="footer-top__article-img" style="background-image: url(img/article-9.png)"></div>
						<div class="footer-top__article-info">
							<div class="footer-top__article-date">23.05.2018</div>
							<div class="footer-top__article-title">
								<a href="./article_page.html">Доставка еды на неделю — рейтинг полезных для фигуры продуктов</a>
							</div>
						</div>
					</div>

					<div class="footer-top__article-item">
						<div class="footer-top__article-img" style="background-image: url(img/article-12.png)"></div>
						<div class="footer-top__article-info">
							<div class="footer-top__article-date">23.05.2018</div>
							<div class="footer-top__article-title">
								<a href="./article_page.html">Доставка еды на неделю — рейтинг полезных для фигуры продуктов</a>
							</div>
						</div>
					</div>
				</div>


				<div class="footer-top__contacts col-12 col-lg-4 offset-lg-1">
					<div class="footer-title">КОНТАКТЫ</div>

					<div class="footer-top__contacts--about">
						<strong>Grow Food</strong> - доставка правильного питания на неделю в Москве и Санкт-Петербурге. Готовые рационы сбалансированного питания на каждый день. Ешь и худей с GrowFood.
					</div>

					<div class="footer-top__contacts--phone">
						<svg>
							<use xlink:href="#phone-icon"/>
						</svg>
						<a href="tel:88005552178">8 (800) 555-21-78</a>
					</div>
					<div class="footer-top__contacts--email">
						<svg>
							<use xlink:href="#email-icon"/>
						</svg>
						<a href="mailto:info@growfood.pro">info@growfood.pro</a>
					</div>
					<div class="footer-top__contacts--site">
						<svg>
							<use xlink:href="#site-icon"/>
						</svg>
						<a href="https://growfood.pro">growfood.pro</a>
					</div>
					<div class="footer-top__contacts--social">
						<a target="_blank" href="https://vk.com/growfood" class="icon-vk">
							<svg>
								<use xlink:href="#vk-icon"/>
							</svg>
						</a>
						<a target="_blank" href="https://www.facebook.com/growfoodrus/" class="icon-fb">
							<svg>
								<use xlink:href="#fb-icon"/>
							</svg>
						</a>
						<a target="_blank" href="https://www.instagram.com/growfoodrus/" class="icon-inst">
							<svg>
								<use xlink:href="#inst-icon"/>
							</svg>
						</a>
						<a target="_blank" href="javascript:void(0);" class="icon-yt">
							<svg>
								<use xlink:href="#yt-icon"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p>Copyright 2017 writepress | All Rights Reserved | Powered by Grow Food</p>
				</div>
			</div>
		</div>
	</div>

</footer>



<div class="modal-window">

	<div class="overlay"></div>

	<div class="subscribe-email">
		<div class="close-btn"></div>
		<div class="subscribe-email__title">
				Хочешь быть в курсе последних событий в сфере правильного питания?
		</div>
		<div class="subscribe-email__desc">Тогда обязательно подпишись на нашу рассылку.</div>

		<form class="subscribe-email__form">
			<input type="email" placeholder="Введите Ваш E-mail">
			<input type="submit">
		</form>
	</div>

	<div class="like-popup">
		<div class="close-btn"></div>
		<div class="like-popup__title">Понравилась статья? <br>
			Поделись с друзьями 
		</div>
		<div class="like-popup__social">
			<a href="javascript:void(0);">
				<svg>
					<use xlink:href="#vk-icon"/>
				</svg>
			</a>
			<a href="javascript:void(0);">
				<svg>
					<use xlink:href="#fb-icon"/>
				</svg>
			</a>
			<a href="javascript:void(0);">
				<svg>
					<use xlink:href="#ok-icon"/>
				</svg>
			</a>
			<a href="javascript:void(0);">
				<svg>
					<use xlink:href="#tw-icon"/>
				</svg>
			</a>
		</div>
	</div>

	<div class="dislike-popup">
			<div class="close-btn"></div>
			<div class="dislike-popup__title">Не понравилась статья? <br>
				Посмотри другие
			</div>

			<div class="dislike-popup__articles">
				<article>
					<a href="javascript:void(0);" class="article-tag">Набор массы</a>
					<div class="article-preview" style="background-image: url(https://politeka.net/wp-content/uploads/2019/02/00-1-640x394.jpg)"></div>
					<div class="article-date">25.09.2018</div>
					<div class="article-title">
						<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
						</div>				
				</article>

				<article>
					<a href="javascript:void(0);" class="article-tag">Набор массы</a>
					<div class="article-preview" style="background-image: url(https://politeka.net/wp-content/uploads/2019/02/00-1-640x394.jpg)"></div>
					<div class="article-date">25.09.2018</div>
					<div class="article-title">
						<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
						</div>				
				</article>
			</div>
			
		</div>
</div>

<script src="js/libs.min.js"></script>
<script src="js/scripts.min.js"></script>
</body>
</html>