<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GROWFOOD BLOG</title>

    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="container header">
        <div class="fixed">
            <a class="logo" href="./">
                <svg>
				<use xlink:href="#logo"/>
			</svg>
            </a>
            <nav>
                <div class="hamburger-btn">
                    <span></span>
                </div>
                <ul>
                    <li><a href="javascript:void(0);">Снижение веса</a>
                        <ul>
                            <li><a href="javascript:void(0);">Диеты</a></li>
                            <li><a href="javascript:void(0);">БЖУ</a></li>
                            <li><a href="javascript:void(0);">Меню</a></li>
                            <li><a href="javascript:void(0);">Диетическое питание</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);">Правильное питание</a></li>
                    <li><a href="javascript:void(0);">Набор массы</a></li>
                    <li><a href="javascript:void(0);">Спорт</a>
                        <ul>
                            <li><a href="javascript:void(0);">Спортивное питание</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);">Здоровье</a></li>
                </ul>
            </nav>
            <a class="btn" target="_blank" href="https://growfood.pro/#menu-plans-v2">Подобрать меню</a>
        </div>
    </header>