<header class="container">
	<nav>
		
	</nav>
</header>


<main class="container">

	<section class="row big-article">
	</section>

	<section class="row last-article">
		<div class="col-12 capture">
			<h2>Топ 3 статей</h2>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статьюшка</article>
		</div>

		<hr>
	</section>



	<section class="row all-article">
		<div class="col-12 capture">
			<h2>Последние статьи</h2>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
		<div class="col-12 col-lg-4">
			<article>Статья</article>
		</div>
	</section>
	
</main>


<footer>
	
</footer>