<main class="container main">

	<section class="row big-article">
		<div class="col-12">
			<h1>Блог о здоровом питании</h1>
			<div class="social-btn-container">
				<a target="_blank" href="https://vk.com/growfood">
					<svg>
						<use xlink:href="#vk-icon"/>
					</svg>
				</a>
				<a target="_blank" href="https://www.facebook.com/growfoodrus/">
					<svg>
						<use xlink:href="#fb-icon"/>
					</svg>
				</a>
				<a target="_blank" href="https://www.instagram.com/growfoodrus/">
					<svg>
						<use xlink:href="#inst-icon"/>
					</svg>
				</a>
			</div>
			<article>
				<div class="article-preview" style=	"background-image: url(img/article-big.png)"></div>
				<div class="article-box">
					<a href="javascript:void(0);" class="article-tag">Диетическое питание</a>
					<div class="article-title">Почему каждое лето одежда внезапно усыхает? Секретная методика: не жрать по ночам</div>
					<a class="article-btn" href="./article_page.html">Подробнее</a>
				</div>
				
			</article>
		</div>
	</section>

	<section class="row last-article">
		<div class="col-12 capture">
			<h2>Топ 3 статей</h2>
		</div>
		<div class="col-12 col-lg-4 article-container">
			<article>
				<div class="article-preview" style="background-image: url(img/article-1.png)"></div>
				<a href="javascript:void(0);" class="article-tag">Правильное питание</a>
				<div class="article-title">Доставка еды на неделю — рейтинг полезных для фигуры продуктов</div>
				<div class="article-date">25.09.2018</div>
				<a class="article-btn" href="./article_page.html">Подробнее</a>
			</article>
		</div>
		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Правильное питание</a>
				<div class="article-preview" style="background-image: url(img/article-2.png)"></div>
				<div class="article-title">Доставка еды на неделю — рейтинг полезных для фигуры продуктов</div>
				<div class="article-date">25.09.2018</div>
				<a class="article-btn" href="./article_page.html">Подробнее</a>
			</article>
		</div>
		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Правильное питание</a>
				<div class="article-preview" style="background-image: url(img/article-3.png)"></div>
				<div class="article-title">Доставка еды на неделю — рейтинг полезных для фигуры продуктов</div>
				<div class="article-date">25.09.2018</div>
				<a class="article-btn" href="./article_page.html">Подробнее</a>
			</article>
		</div>
	</section>

	<hr>

	<section class="row all-article">
		<div class="col-12 capture">
			<h2>Последние статьи</h2>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-4.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-5.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-6.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-7.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-8.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-9.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-10.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-11.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>

		<div class="col-12 col-lg-4 article-container">
			<article>
				<a href="javascript:void(0);" class="article-tag">Набор массы</a>
				<div class="article-preview" style="background-image: url(img/article-12.png)"></div>
				<div class="article-date">25.09.2018</div>
				<div class="article-title">
					<a href="./article_page.html">Как подсчитать соотношение БЖУ для набора мышечной массы?</a>
					</div>				
			</article>
		</div>
		
		<a href="javascript:void(0);" class="col-12 article-more-btn">
			Показать еще
		</a>
		
	</section>
	
	<section class="row pagination">
		<div class="pagination-container">
			<a href="javascript:void(0);" class="pagination-page pagination-prev">&#10094;</a>
			<a href="javascript:void(0);" class="pagination-page">1</a>
			<a href="javascript:void(0);" class="pagination-page">2</a>
			<a href="javascript:void(0);" class="pagination-page active">3</a>
			<a href="javascript:void(0);" class="pagination-page">4</a>
			<a href="javascript:void(0);" class="pagination-page">5</a>
			<a href="javascript:void(0);" class="pagination-page">6</a>
			<a href="javascript:void(0);" class="pagination-page">...</a>
			<a href="javascript:void(0);" class="pagination-page">11</a>
			<a href="javascript:void(0);" class="pagination-page pagination-next">&#10095;</a>

		</div>
	</section>

	<section class="row more-materials">
		<div class="col-12 more-materials-container">
			<h2>Больше полезных материалов:</h2>
			<div class="more-materials-socials">
				<a target="_blank" href="https://vk.com/growfood" class="icon-vk">
					<svg>
						<use xlink:href="#vk-icon"/>
					</svg>
				</a>
				<a target="_blank" href="https://www.facebook.com/growfoodrus/" class="icon-fb">
					<svg>
						<use xlink:href="#fb-icon"/>
					</svg>
				</a>
				<a target="_blank" href="https://www.instagram.com/growfoodrus/" class="icon-inst">
					<svg>
						<use xlink:href="#inst-icon"/>
					</svg>
				</a>
			</div>
		</div>
	</section>
	
</main>


